<header>
    <div class="header-main">
        <picture class="logo">
            <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
        </picture>
        <section class= "search-bar">
            <form action="/product/search" class="bar" method="get">
                <input type="text" placeholder="Buscar productos, marcas y más" name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
        </section>
        <section class="payment">
        <i class="fas fa-hand-holding-usd"></i>
        <span>Compra en cuotas o con tarjeta de crédito</span>
    </section>
    </div>
    <div class="bottom-bars">
        <nav class="nav-bar">
            <ul>
                <a href="/"><li>Ofertas</li></a>
                <a href="/"><li>Tiendas oficiales</li></a>
                <a href="/product/create"><li>Vender</li></a>
                <a href="/"><li>Ayuda</li></a>
            </ul>
        </nav>
        <nav class="login-bar">
            <ul>
                <a href="/user/register"><li>Crea tu cuenta</li> <i class="fas fa-user-circle"></i></a>
                <a href="/user/login"><li>Ingresa</li><i class="fas fa-sign-in-alt"></i></a>
                <a href="/"><li>Mis compras</li><i class="fas fa-shopping-basket"></i></a>
            </ul>
        </nav>
    </div>
   <div class="burger-menu">
       <i class="fas fa-bars"></i>
   </div> 
</header>