<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <h1>Inicia sesi칩n</h1>
        <form action="" class="login-form">
            <label for="login-email">Correo electr칩nico</label>
            <input type="email" id="login-email" placeholder="nombre@mail.com" required>

            <label for="login-pass">Contrase침a</label>
            <input type="password" id="login-pass" placeholder="Contrase침a" required>

            <button type="submit">Ingresa</button>
        </form>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>